@import "../palette.scss";

.new {
  $color: #ffd32a;
  background-color: $color;
  box-shadow: 0 0 20px 2px lighten($color, 10%) inset,
    0 0 20px 2px transparentize(lighten($color, 10%), 0.5);
  border: 2px solid lighten($color, 10%);
}

// Paints
@mixin paint($color) {
  background-color: darken($color, 50);
  box-shadow: 0 0 20px 2px transparentize(lighten($color, 10%), 0.5),
    inset 0 0 20px 2px transparentize(lighten($color, 10%), 0.5);
  border: 2px solid lighten($color, 10%);

  & > span {
    color: lighten($color, 40);
  }
}

.black {
  @include paint($paint-black);
}

.burntsienna {
  @include paint($paint-burnt-sienna);
}

.cobalt {
  @include paint($paint-cobalt);
}

.crimson {
  @include paint($paint-crimson);
}

.forestgreen {
  @include paint($paint-forest-green);
}

.grey {
  @include paint($paint-grey);
}

.lime {
  @include paint($paint-lime);
}

.orange {
  @include paint($paint-orange);
}

.pink {
  @include paint($paint-pink);
}

.purple {
  @include paint($paint-purple);
}

.saffron {
  @include paint($paint-saffron);
}

.skyblue {
  @include paint($paint-sky-blue);
}

.titaniumwhite {
  @include paint($paint-titanium-white);
}

// Rarities
@mixin rarity($color) {
  $tranparentized: transparentize($color, 0.25);
  background-color: $tranparentized;
  box-shadow: 0 0 200px 20px lighten($tranparentized, 20%) inset,
    0 0 40px 0 lighten($tranparentized, 20%);
  border: 2px solid lighten($tranparentized, 50%);
}

.default {
  @include rarity($rarity-default);
}

.base {
  @include rarity($rarity-base);
}

.sport {
  @include rarity($rarity-sport);
}

.special {
  @include rarity($rarity-special);
}

.deluxe {
  @include rarity($rarity-deluxe);
}

.import {
  @include rarity($rarity-import);
}

.exotic {
  @include rarity($rarity-exotic);
}

.blackmarket {
  @include rarity($rarity-black-market);
}

.luxury {
  @include rarity($rarity-luxury);
}

.premium {
  @include rarity($rarity-premium);
}

.currency {
  @include rarity($rarity-currency);
}
