@font-face {
  font-family: "Bourgeois";
  src: url("https://rocketleague.media.zestyio.com/a4269305-6c5d-410c-a86c-fc728375b1ed.woff2");
}

* {
  margin: 0;
  font-family: "Bourgeois";
  color: white;
}
