@font-face {
  font-family: "Bourgeoissss";
  src: url("/Bourgeois-Medium.ttf");
}

* {
  margin: 0;
  font-family: "Bourgeoissss";
  color: white;
}

h1,
h2,
p,
span {
  position: relative;
  bottom: 4px;
}
