// Base palette
$palette-blue: darken(#3e77d1, 35);
$palette-orange: #c98744;
$palette-light: #aaaaaa;
$palette-dark: #080b1c;

// Item paints
$paint-black: #111111;
$paint-burnt-sienna: #4c1100;
$paint-cobalt: #3f51b5;
$paint-crimson: #d50000;
$paint-forest-green: #4caf50;
$paint-grey: #777777;
$paint-lime: #7fff00;
$paint-orange: #f4b400;
$paint-pink: #ff4081;
$paint-purple: #9c27b0;
$paint-saffron: #ffeb3b;
$paint-sky-blue: #03a9f4;
$paint-titanium-white: white;

// Item rarities
$rarity-default: black;
$rarity-base: black;
$rarity-sport: darken(#4da4b8, 50);
$rarity-special: darken(#081d2b, 50);
$rarity-deluxe: darken(#1e1023, 50);
$rarity-import: darken(#2f0f04, 50);
$rarity-exotic: darken(#302703, 50);
$rarity-black-market: darken(#1e0e25, 50);
$rarity-luxury: darken(#331b00, 50);
$rarity-premium: darken(#092a17, 50);
$rarity-currency: darken(#011232, 50);
